{% extends "base.html" %}

{% block head %}
<title>Acerca de nosotros</title>
{% endblock %}

{% block body %}
<section class="slider">
        <div>
                <main>
                        <div class="p-5 mb-4 bg-light rounded-3" id="us">
                                <div class="container-fluid py-5" id="ustwo">
                                        <h1 class="display-5 fw-bold">Conócenos</h1>
                                </div>
                                <hr>
                        </div>
                </main>
        </div>
        <div class="slider__container container">
                <img src="{{ url_for('static', filename='assets/larrow.svg')}}" class="slider__arrow" id="before">

                <section class="slider__body slider__body--show" data-id="1">
                        <div class="slider__texts">
                                <h2 class="subtitle">¡Hola! Soy Simón</h2>
                                <p class="slider__review">
                                        Estudiante de estadística, amante de los datos y de las matemáticas,
                                        entusiasta de la programación y de las buenas caminatas.
                                </p>
                        </div>

                        <figure class="slider_picture">
                                <a href="https://github.com/SimonPGM" target="_blank">
                                        <img src="https://avatars.githubusercontent.com/u/71856010?v=4"
                                                class="slider__img">
                                </a>
                        </figure>
                </section>

                <section class="slider__body" data-id="2">
                        <div class="sliderSimón__texts">
                                <h2 class="subtitle">¡Hola! Soy Sebastián</h2>
                                <p class="slider__review">
                                        Estudiante de estadística, apasionado por los datos, su procesamiento y el
                                        modelado predictivo.
                                </p>
                        </div>

                        <figure class="slider_picture">
                                <a href="https://github.com/SebastianGaviria36" target="_blank">
                                        <img src="https://avatars.githubusercontent.com/u/82337893?v=4"
                                                class="slider__img">
                                </a>
                        </figure>
                </section>

                <section class="slider__body" data-id="3">
                        <div class="slider__texts">
                                <h2 class="subtitle">¡Hola! Soy Verónica</h2>
                                <p class="slider__review">
                                        Estudiante de Ingeniería de Control, con amor por el IoT, la automatización y
                                        los datos.
                                </p>
                        </div>

                        <figure class="slider_picture">
                                <a href="https://github.com/vriosv79" target="_blank">
                                        <img src="https://avatars.githubusercontent.com/u/58831165?v=4"
                                                class="slider__img">
                                </a>

                        </figure>
                </section>

                <section class="slider__body" data-id="4">
                        <div class="slider__texts">
                                <h2 class="subtitle">¡Hola! Soy Juan José</h2>
                                <p class="slider__review">
                                        Estudiante de estadística, apasionado por el machine learning, aficionado
                                        a los deportes y a los videojuegos.
                                </p>
                        </div>

                        <figure class="slider_picture">
                                <a href="https://github.com/jgaleanoa" target="_blank">
                                        <img src="https://avatars.githubusercontent.com/u/82337913?v=4"
                                                class="slider__img">
                                </a>
                        </figure>
                </section>

                <img src="{{ url_for('static', filename='assets/rarrow.svg')}}" class="slider__arrow" id="after">
        </div>
</section>
<script src="./../static/js/slider.js"></script>
{% endblock %}