{% extends "base.html" %}

{% block head %}
<title>Acerca de nosotros</title>
{% endblock %}

{% block body %}
<main>
        <div class="p-5 mb-4 bg-light rounded-3" id="us" style="background-color: white !important;">
                <div class="container-fluid py-5" id="ustwo">
                        <h1 class="display-5 fw-bold">Conócenos</h1>
                </div>
                <hr>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="padding-top: 10%;">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                                <div class="text-center">
                                        <h1 class="display-5 fw-bold">¡Hola! Soy Simón</h1>
                                </div>
                                <div class="container">
                                        <div class="row">
                                                <div class="col-sm-9" style="padding-top: 5rem;">
                                                        <p class="lead mb-4 fs-3">
                                                                Estudiante de estadística, amante de los datos y de las
                                                                matemáticas, entusiasta de
                                                                la
                                                                programación y de las buenas caminatas.
                                                        </p>
                                                </div>
                                                <div class="col-sm">
                                                        <a href="https://github.com/SimonPGM" target="_blank">
                                                                <img class="d-block mx-auto mb-4"
                                                                        src="https://avatars.githubusercontent.com/u/71856010?v=4"
                                                                        alt="" style="border-radius: 50%; width: 100%;">
                                                        </a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                                <div class="text-center">
                                        <h1 class="display-5 fw-bold">¡Hola! Soy Sebastián</h1>
                                </div>
                                <div class="container">
                                        <div class="row">
                                                <div class="col-sm-9" style="padding-top: 5rem;">
                                                        <p class="lead mb-4 fs-3">
                                                                Estudiante de estadística, apasionado por los datos, su
                                                                procesamiento y el modelado
                                                                predictivo.
                                                        </p>
                                                </div>
                                                <div class="col-sm">
                                                        <a href="https://github.com/SebastianGaviria36" target="_blank">
                                                                <img class="d-block mx-auto mb-4"
                                                                        src="https://avatars.githubusercontent.com/u/82337893?v=4"
                                                                        alt="" style="border-radius: 50%; width: 100%;">
                                                        </a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                                <div class="text-center">
                                        <h1 class="display-5 fw-bold">¡Hola! Soy Verónica</h1>
                                </div>
                                <div class="container">
                                        <div class="row">
                                                <div class="col-sm-9" style="padding-top: 5rem;">
                                                        <p class="lead mb-4 fs-3">
                                                                Estudiante de Ingeniería de Control, con amor por el
                                                                IoT, la automatización y los
                                                                datos.
                                                        </p>
                                                </div>
                                                <div class="col-sm">
                                                        <a href="https://github.com/vriosv79" target="_blank"></a>
                                                        <img class="d-block mx-auto mb-4"
                                                                src="https://avatars.githubusercontent.com/u/58831165?v=4"
                                                                alt="" style="border-radius: 50%; width: 100%;">
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                                <div class="text-center">
                                        <h1 class="display-5 fw-bold">¡Hola! Soy Juan José</h1>
                                </div>
                                <div class="container">
                                        <div class="row">
                                                <div class="col-sm-9" style="padding-top: 5rem;">
                                                        <p class="lead mb-4 fs-3">
                                                                Estudiante de estadística, apasionado por el machine
                                                                learning, aficionado a los
                                                                deportes y a los videojuegos.
                                                        </p>
                                                </div>
                                                <div class="col-sm">
                                                        <a href="https://github.com/jgaleanoa" target="_blank">
                                                                <img class="d-block mx-auto mb-4"
                                                                        src="https://avatars.githubusercontent.com/u/82337913?v=4"
                                                                        alt="" style="border-radius: 50%; width: 100%;">
                                                        </a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</main>
{% endblock %}