{% extends "base.html" %}

{% block head %}
<title>Inicio</title>
{% endblock %}

{% block body %}
<main>
        <div class="p-5 mb-4 bg-light rounded-3 models">
                <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">¡Bienvenido!</h1>
                </div>
        </div>
</main>
<div class="idxrow">
        <div class="idxtext">
                <p style="font-size: x-large;">
                        ¡Bienvenido a TNUR[::-1]!. En este sitio web podrás encontrar información relacionada al
                        número de registros vehiculares en el Runt a lo largo de diferentes periodos de tiempo. Echa un
                        vistazo a los recursos del lugar y prueba las predicciones de nuestro modelo para la fecha que
                        desees.
                </p>
        </div>
        <div class="idximg">
                <img src="https://thumbs.dreamstime.com/b/coche-bosquejo-blanco-y-negro-icono-del-vector-99583186.jpg"
                        style="width: 100%;">
        </div>
</div>
<main>
        <div class="p-5 mb-4 bg-light rounded-3 models">
                <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Conoce que hace nuestra app</h1>
                </div>
        </div>
</main>
<div class="video">
        <iframe src="https://player.vimeo.com/video/653953949?h=6cb3a91b63&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen title="Video_Final.mp4"></iframe>
</div>


{% endblock %}